/* .sidebar-nav {
    margin-top: 20px;
    margin-left: 10px;
    padding: 0;
    list-style: none;
} */

/* li a {
    color: rgb(83, 83, 83);
    font-size: 20px;
} */

/* table, td, th {
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
}

table {
    width: 50%;
    border-collapse: collapse;
} */

body {
    background: white;
    /* url("images/background.jpg"); */
}